body, html {
  height: 100%;
  background-image: url(/img/Maroon\ Bells.png);
  background-size: 100%;
  width: 100%;
}

body {
  background-color: coral;
}

header {
  background-color: aqua;
  margin-bottom: 50px;
  width: 100%
  outline-style: dotted;
}

header h1 {
  font-size: 60pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  background-color: crimson;
  border-style: solid;
  border-color: aliceblue;
}

div {
  border: 5px;
  padding: 10px;
  height: 15vw;
  width: 98%;
}

div img {
  max-width: 10vw;
  max-height: 100vw;
  float: left;
  margin-right: 10px;
}

p {
  font-size: 2vw;
  overflow-wrap: normal;
}

footer {
  background-color: darkseagreen;
  border-style: ridge;
  border-width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}